body {
    background: url("../images/background.jpg");
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 5px;
    font-family: 'Aref Ruqaa', serif;
    color: white; 
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center; 
    padding: 20px; 
}


p {
    text-align: center; 
    font-size: 25px; 
    font-weight: bold; 
    font-family: 'Sahitya', serif; 
    padding: 20px; 
    margin: 0 20px; 
}


/*various numerics*/
#targetNum, 
#score-num, 
#wins, 
#losses {
    margin: 0 10px 10px 0;
    font-size: 30px;
    text-align: center;  
    flex-direction: column;    
}

/*Rules and Buttons*/
#rules {
    padding-bottom: 100px;
    margin-bottom: 10px;
    text-align: center; 
}

button {
    border: 4px double black; 
    border-radius: 1px 10px; 
    background-color: #2BA7CF; 
    font-size: 15px; 
    color: white; 
    padding: 6px 12px; 
    font-weight: bold;  
}

.btn {
    display: flex; 
    justify-content: center;
    margin-bottom: 40px; 
}

/*Crystal Images*/
container {
    display: flex;
    clear: left;
    margin-top: 10px; 
}

.crystals {
display: flex; 
justify-content: center;
margin-bottom: 40px;  
padding: 20px; 
}

.crystal {
    width: 110px;
    height: 110px;
    border: 1px solid green; 
    border-radius: 4px; 
    margin-right:10px ; 
    border: 4px double black; 
    border-radius: 1px 10px; 
    background-color: white; 
}

/* Display for User Score */
.target {
    margin-bottom: 60px; 
}

.totalScore {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    margin-bottom: 40px; 
}

.totalScore p {
    text-align: center; 
}

